/** @format */

:root {
	--blanco: #ffffff;
	--negro: #000000;
	--primero: #0059ff;
	--segundo: #0084ff;
	--tercero: #00a2ff;
	--cuarto: #00987c;
	--html: #d84823;
	--css: #004292;
	--javascript: #f58233;
	--typescript: #1e49a6;
	--fuenteprimaria: 'Staatliches', cursive;
	--fuentesecundaria: 'Carter One', cursive;
}
h1,
h2,
h3,
h4 {
	text-align: center;
	text-transform: capitalize;
	font-family: var(--fuenteprimaria);
}
h1 {
	font-size: 3rem;
	color: var(--blanco);
	letter-spacing: 0.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1rem;
}
p {
	font-family: var(--fuentesecundaria);
}
a {
	text-decoration: none;
	color: var(--negro);
	text-align: center;
}
img {
	width: 90%;
	border-radius: 2rem;
}
body {
	font-size: 10px;
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							reutilización
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
.shadow {
	box-shadow: 0px 10px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.boton:hover{
	transition: 0.30s;
	background: #7ce7ff;
	border-radius: 0.5rem;
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							animaciones
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
.gradiente {
    background: linear-gradient(270deg, #c9fff1, #6be4ff);
    background-size: 400% 400%;

    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							navegacion
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/

header {
	background: var(--primero);
	display: flex;
	height: 5rem;
	justify-content: center;
	align-items: center;
}

/*

.nav-list__titulo {}

.nav-list__item:hover {}
*/

.nav-list {
	position: sticky;
	top: 0;
	z-index: 10;
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition-duration: 0.25s;
}
.nav-list:hover {
	background-color: var(--tercero);
}
.nav-list:hover .nav-list__item {
	opacity: 1;
}
.nav-list__item {
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.25s;	
}
.nav-list__item a{
	padding: 0 2rem;
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							section1
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
@media (min-width: 480px) {
	.tecnology__tecnologia {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.tecnology__tecnologia .tecnologia__titulo {
		text-transform: uppercase;
	}
	.tecnologia {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.tecnologia__icono {
		width: 10rem;
		height: 10rem;
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
	}
	.tecnologia__icono:hover {
		transform: scale(1.25);
	}
	.tecnology__tecnologia:nth-child(2)
		.tecnologia:nth-child(1)
		.tecnologia__icono {
		background: var(--html);
	}
	.tecnology__tecnologia:nth-child(2)
		.tecnologia:nth-child(2)
		.tecnologia__icono {
		background: var(--css);
	}
	.tecnology__tecnologia:nth-child(4)
		.tecnologia:nth-child(1)
		.tecnologia__icono {
		background: var(--javascript);
	}
	
}
@media (min-width: 550px) {
	.tecnology__tecnologia {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							PROYECTOS
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
/*
.proyecto{}
.proyectos__titulo-principal{}
.proyectos__proyecto{}
.proyecto{}
.proyecto__titulo{}
.proyecto__img{}
*/
.proyectos {
	background-color: var(--segundo);
	width: 90%;
	margin: auto;
	border-radius: 1rem;
	color: var(--blanco);
	padding: 2rem 0;
}
.proyectos__proyecto {
	width: 90%;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin: auto;
}
.proyecto {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
	border-radius: 1rem;
}
.proyecto__titulo {
	color: var(--blanco);
	padding: 0;
	margin: 0;
}

@media (min-width: 801px) {
	main {
		width: 100%;
		border-radius: 1rem;
	}
	.proyectos {
		background-color: var(--segundo);
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		transition: 0.35s;
	}
	.proyectos:hover {
		transform: scale(1.05);
	}
	.proyectos__proyecto {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		margin: auto;
	}
}
