:root {
	--blanco: #ffffff;
	--negro: #000000;
	--primero: #27a8c9;
	--segundo: #00bfc9;
	--tercero: #23d3bb;
	--cuarto: #00987c;
	--html: #d84823;
	--css: #1e5ca6;
	--javascript: #f58233;
	--typescript: #1e49a6;
	--fuenteprimaria: "Staatliches", cursive;
	--fuentesecundaria: "Carter One", cursive;
}
body {
	display: grid;
	grid-template-columns: 1fr;
	font-family: var(--fuenteprimaria);
	align-items: center;
	justify-content: center;
}
h1,
h2,
h3,
h4 {
	text-align: center;
	text-transform: capitalize;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
span {
	text-transform: lowercase;
}
a {
	text-decoration: none;
	color: var(--negro);
	text-align: center;
}
img {
	width: 90%;
	border-radius: 2rem;
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							reutilización
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
.shadow {
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							navegacion
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
header {
	background: var(--primero);
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							section1
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
.tecnology__tecnologia {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.tecnology__tecnologia .tecnologia__titulo {
	text-transform: uppercase;
}
.tecnologia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tecnologia__icono {
	width: 10rem;
	height: 10rem;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.tecnologia__icono:hover {
	transform: scale(1.25);
}
.tecnology__tecnologia:nth-child(2) .tecnologia:nth-child(1) .tecnologia__icono {
	background: var(--html);
}
.tecnology__tecnologia:nth-child(2) .tecnologia:nth-child(2) .tecnologia__icono {
	background: var(--css);
}
.tecnology__tecnologia:nth-child(4) .tecnologia:nth-child(1) .tecnologia__icono {
	background: var(--javascript);
}
@media (min-width: 801px) {
	.tecnology__tecnologia {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
							PROYECTOS
--------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
*/
/*
.proyecto{}
.proyectos__titulo-principal{}
.proyectos__proyecto{}
.proyecto{}
.proyecto__titulo{}
.proyecto__img{}
*/
.proyectos {
	background-color: var(--segundo);
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: auto;
	border-radius: 1rem;
	padding: 1rem;
}
.proyectos__proyecto {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.proyecto {
	display: flex;
	flex-direction: column;
}
@media (min-width: 801px) {
	main {
		width: 90%;
		border-radius: 1rem;
		margin: auto;
	}
	.proyectos {
		background-color: var(--segundo);
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		padding: 2rem;
	}
	.proyectos__proyecto {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
}
